version: '3.8'
services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: webscan
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
  backend:
    build: ./backend
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/webscan
    ports:
      - "3001:3001"
    depends_on:
      - db
  frontend:
    build: ./frontend
    environment:
      NEXT_PUBLIC_API_ENDPOINT: http://localhost:3001
    ports:
      - "3000:3000"
    depends_on:
      - backend
